execute: 
  cache: false
  message: false
  warning: false

project:
  type: website
  execute-dir: file
  output-dir: ../docs
  render:
    - index.qmd
    - geo-01-quality.qmd
    - geo-02-differential.qmd
    - vis-01-quality.qmd
    - vis-02-tls.qmd

format:
  html:
    theme: lux
    toc: true
    toc-depth: 3
    code-fold: show
    standalone: true
    embed-resources: true
    
website:
  title: TLS
  navbar:
    search: false
    left:
      - text: GeoMx
        menu:
          - file: geo-01-quality.qmd
          - file: geo-02-differential.qmd
      - text: Visium
        menu:
          - file: vis-01-quality.qmd
          - file: vis-02-tls.qmd
